/* Asegúrate de que el contenedor esté centrado y con márgen
}
/* Centrar el cuadro principal */
body {
    background-image: url('../img/cuadro.jpg');
    /* Ruta de la imagen */
    background-size: cover;
    /* Asegura que la imagen cubra toda la pantalla */
    background-attachment: fixed;
    /* Mantiene la imagen fija al hacer scroll */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    min-height: 100vh;
    /* Asegura que el fondo cubra toda la pantalla */
    margin: 0;
    padding: 0;
}


.container {
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 90%;
    /* Ajusta el tamaño del contenedor */
    margin-left: auto;
    margin-right: auto;
}

/* Ajustar la columna de Estado */
.table th:nth-child(13),
.table td:nth-child(13) {
    width: 200px;
    /* Ajusta este valor según el tamaño deseado */
}


/* Estilos para el botón de notificación */
.btn-primary {
    margin-bottom: 20px;
    /* Separación con el contenido inferior */
}

/* Ajustes para la tabla */
.table {
    margin-top: 20px;
}

/* Ajustes para el ícono del botón */
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    /* Fondo negro */
    border-radius: 50%;
    /* Forma circular */
    width: 30px;
    /* Ajusta el tamaño del contenedor */
    height: 30px;
    /* Ajusta el tamaño del contenedor */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    color: #fff;
    /* Color del ícono */
    margin-left: 20px;
    border: none;
    /* Elimina el borde por defecto */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el ícono */
}

.btn-icon svg {
    width: 16px;
    /* Tamaño del ícono */
    height: 16px;
    /* Tamaño del ícono */
}

/* Estilo adicional para la toast */
.toast {
    border-radius: 0.5rem;
}

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    max-width: 300px;
}

.alert {
    margin-bottom: 10px;
}

html {
    scroll-behavior: smooth;
}

#productosTableBody tr td {
    transition: background-color 0.2s, color 0.2s;
}

.btn-custom {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-custom:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}

.promotion-icon,
.provider-icon {
    cursor: pointer;
    color: #007bff;
}

.promotion-icon:hover,
.provider-icon:hover {
    color: #0056b3;
}
 /* Estilo para posicionar el modal de salida de productos */
    .modal-floating {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    .modal-header {
        background-color: #0d6efd; /* Azul */
        color: white;
    }

    .modal-dialog {
        max-width: 300px;
        margin: 0;
    }