            body {
                background-image: url('../image/cuadro.jpg');
                background-size: cover;
                /* Asegura que la imagen cubra toda la pantalla */
                background-attachment: fixed;
                /* Mantiene la imagen fija al hacer scroll */
                background-position: center;
                /* Centra la imagen */
                background-repeat: no-repeat;
                /* Evita que la imagen se repita */
                min-height: 100vh;
                /* Asegura que el fondo cubra toda la pantalla */
            }

            .contenedor-reporte {
                background-color: rgba(255, 255, 255, 0.9);
                border: 2px solid #90caf9;
                border-radius: 15px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            }

            .table {
                background-color: white;
                border: 1px solid #2196f3;
            }

            .table th,
            .table td {
                border: 1px solid #2196f3;
                vertical-align: middle;
                font-size: 0.95rem;
            }

            .table thead {
                background-color: #e3f2fd;
                color: #0d47a1;
                font-weight: bold;
            }

            .btn-outline-primary
            {
                text-align: left;
                font-size: 1.1rem;
                font-weight: 500;
            }

            .btn .toggle-icon {
                transition: transform 0.3s;
            }

            .collapse.show+.btn .toggle-icon {
                transform: rotate(180deg);
            }

            .navbar-brand h2 {
                font-weight: bold;
                color: #1565c0;
            }

            .navbar .btn {
                font-weight: 500;
            }

